cover M,F,FAULT,TLBI,B,Rreg,Wreg,IC,DC
disjoint M,F,FAULT,TLBI,B,Rreg,Wreg,IC,DC
disjoint NExp,Exp,IW,SPURIOUS
subseteq NExp,Exp,IW,SPURIOUS M
subseteq M NExp,Exp,IW,SPURIOUS
subseteq R,W,Instr,PTE,T M
disjoint R,W
disjoint Instr,PTE,T
subseteq M R,W,Instr,PTE,T
subseteq M R,W
subseteq Instr NExp
subseteq PTE NExp
subseteq NoRet R
subseteq IW W
subseteq AF NExp
subseteq DB NExp
subseteq EXC-ENTRY,TagCheck FAULT
disjoint MMU,SVC,UndefinedInstruction
subseteq MMU,SVC,UndefinedInstruction EXC-ENTRY
disjoint FAULT,Exp

disjoint AccessFlag,Permission,Translation
subseteq AccessFlag,Permission,Translation MMU

disjoint DMB.ISH,DMB.ISHLD,DMB.ISHST,DSB.ISH,DSB.ISHLD,DSB.ISHST,DMB.SY,DMB.ST,DMB.LD,DSB.SY,DSB.ST,DSB.LD,DMB.OSH,DSB.OSH,DMB.OSHLD,DSB.OSHLD,DMB.OSHST,DSB.OSHST,ISB
subseteq DMB.ISH,DMB.ISHLD,DMB.ISHST,DSB.ISH,DSB.ISHLD,DSB.ISHST,DMB.SY,DMB.ST,DMB.LD,DSB.SY,DSB.ST,DSB.LD,DMB.OSH,DSB.OSH,DMB.OSHLD,DSB.OSHLD,DMB.OSHST,DSB.OSHST,ISB F
subseteq F DMB.ISH,DMB.ISHLD,DMB.ISHST,DSB.ISH,DSB.ISHLD,DSB.ISHST,DMB.SY,DMB.ST,DMB.LD,DSB.SY,DSB.ST,DSB.LD,DMB.OSH,DSB.OSH,DMB.OSHLD,DSB.OSHLD,DMB.OSHST,DSB.OSHST,ISB

disjoint A,Q,L,NoRet

subseteq A Exp
subseteq A R
disjoint A,T

subseteq Q Exp
subseteq Q R
disjoint Q,T

subseteq L Exp
subseteq L W
disjoint L,T

disjoint TLBIIS,TLBInXS
subseteq TLBIIS,TLBInXS TLBI

disjoint BCC,EXC-RET
subseteq BCC,EXC-RET B

subseteq DATA Rreg
