cover M,F,FAULT
cover Imp,Exp
disjoint M,F,FAULT
subseteq R,W,Instr,PTE,T M
disjoint R,W
disjoint Instr,PTE,T
subseteq M R,W,Instr,PTE,T
subseteq M R,W
disjoint Imp,Exp
subseteq NoRet R
subseteq IW W
subseteq IW Exp
subseteq AF Imp
subseteq DB Imp
subseteq MMU FAULT
disjoint FAULT,Exp

disjoint DMB.ISH,DMB.ISHLD,DMB.ISHST,DSB.ISH,DSB.ISHLD,DSB.ISHST,DMB.SY,DMB.ST,DMB.LD,DSB.SY,DSB.ST,DSB.LD,DMB.OSH,DSB.OSH,DMB.OSHLD,DSB.OSHLD,DMB.OSHST,DSB.OSHST,ISB
subseteq DMB.ISH,DMB.ISHLD,DMB.ISHST,DSB.ISH,DSB.ISHLD,DSB.ISHST,DMB.SY,DMB.ST,DMB.LD,DSB.SY,DSB.ST,DSB.LD,DMB.OSH,DSB.OSH,DMB.OSHLD,DSB.OSHLD,DMB.OSHST,DSB.OSHST,ISB F
subseteq F DMB.ISH,DMB.ISHLD,DMB.ISHST,DSB.ISH,DSB.ISHLD,DSB.ISHST,DMB.SY,DMB.ST,DMB.LD,DSB.SY,DSB.ST,DSB.LD,DMB.OSH,DSB.OSH,DMB.OSHLD,DSB.OSHLD,DMB.OSHST,DSB.OSHST,ISB
subseteq F Imp
disjoint F,AF
disjoint F,DB

subseteq A R
subseteq A M
disjoint A,Imp
disjoint A,PTE
disjoint A,Instr
disjoint A,T
subseteq Q R
subseteq Q M
disjoint Q,Imp
disjoint A,Q,L,NoRet
subseteq L W
subseteq L M
disjoint L,Imp
disjoint L,PTE
disjoint L,Instr
disjoint L,T
disjoint IW,L
